*.log
terraform.tfvars
*.tfvars.json
.terraform/
.terraform*
*.tfstate
*.tfstate.*backup
.terraform.lock.hcl
crash.log
*.pem
*.png
# Ignore other local lab folders
Docker/
aws-infra/
aws/
backend-bootstrap/
day10/
day11/
day13/
day14/
lifecycle-day09/
meta-data-day08/
var-demo/